body {
    margin-left: auto;
    margin-right: auto;
    width: 20cm;
	background: url('images/bg.png') repeat #ffffff;
	-webkit-animation: 20s linear 0s normal none infinite animate;
	-moz-animation: 20s linear 0s normal none infinite animate;
	-ms-animation: 20s linear 0s normal none infinite animate;
	-o-animation: 20s linear 0s normal none infinite animate;
	animation: 20s linear 0s normal none infinite animate;
}


@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px -500px;}
}
